h1{
color: brown;
margin-left: 30px;
}
.header{
    background-color: chartreuse;
    display: flex;
    justify-content:space-between ;
    border: dotted ;
}
.grid{
    display: flex;
    justify-content:space-evenly ;
    flex-wrap: wrap;
}
.footer{
    display: flex;
    background-color:red;
    justify-content: flex-end;
}
p,h2{
text-align: center;
}
body{
    background-color: #808080 ;
}